@font-face {
  font-family: 'LedDisplay';
  src: url('../../fonts/The Led Display St.ttf');
}

@font-face {
  font-family: 'Pixel';
  src: url('../../fonts/LLPIXEL3.ttf');
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  //background-image: url('../../images/rocco-caruso-712902-unsplash.jpg');
  //background-image: url('../../images/yannis-papanastasopoulos-327476-unsplash.jpg');
  background-image: url('../../images/jodie-walton-502797-unsplash.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#drum-machine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 660px;
  padding: 20px;
  background-image: linear-gradient(-180deg, #333, #111);
  border-radius: 20px;
}

#display {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 100px;
  background-color: rgb(40, 65, 65);
  font-family: 'Pixel';
  font-size: 24px;
  color: rgb(89, 255, 158);
  border-radius: 5px;
  margin: 5px 5px 10px 5px;
}

.pad-bank {
  width: 330px;
  display: flex;
  flex-wrap: wrap;
}
