.instrument {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    max-width: 420px;
    margin: 20px;
    padding: 20px 40px 40px 40px;
    background-color: rgba(34, 34, 34, 0.8);
    border-radius: 20px;
  }
  
  .title {
    color: #999;
    font-size: 20px;
    /* font-weight: bold; */
    margin-bottom: 10px;
  }

  #display {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 100px;
    box-sizing: border-box;
    font-family: 'Pixel';
    text-align: center;
    font-size: 24px;
    border-radius: 10px;
    margin: 5px 5px 10px 5px;
  }
  
  .pad-bank {
    width: 330px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
  }