.instrument-settings {
  position: absolute;
  top: 10vh;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #333;
  border-radius: 10px;
  color: #FFF;
  font-size: 16px;
  padding: 20px;
}

.instrument-settings h1 {
  margin-top: 0;
}

.instrument-settings__form {
  height: 70vh;
  overflow-y: scroll;
}

.instrument-settings__input-row {
  margin: 5px;
}

.instrument-settings__label {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-right: 10px;
}

.instrument-settings__input {
  padding: 5px;
  width: 350px;
  font-size: 16px;
}