@font-face {
  font-family: 'LedDisplay';
  src: url('../../fonts/The Led Display St.ttf');
}

@font-face {
  font-family: 'Pixel';
  src: url('../../fonts/LLPIXEL3.ttf');
}

.studio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* background-image: url('../../images/jodie-walton-502797-unsplash.jpg'); */
  background-image: url('../../images/danny-howe-365401-unsplash.jpg');
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.workspace {
  display: flex;
  justify-content: center;
  align-items: flex-start;  
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}